# .env.example
VITE_SUPABASE_URL=https://bkmsfroizfkiidvmwiqv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJrbXNmcm9pemZraWlkdm13aXF2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ3MzMzNDIsImV4cCI6MjEwMDMwOTM0Mn0.Tqq_mSz18fuS4uDkCUHYkm88PzR-pXsEuc_NnPn1leM
